<% content_for :head do %>
<style type="text/css"> 

   #map-container {
     padding: 6px;
     border-width: 1px;
     border-style: solid;
     border-color: #ccc #ccc #999 #ccc;
     -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
     -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
     box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
     width: 800px;
   }

   #gmaps4rails_map {
     width: 800px;
     height: 400px;
   }

   #actions {
     list-style: none;
     padding: 0;
   }

   #inline-actions {
     padding-top: 10px;
   }

   .item {
     margin-left: 20px;
   }
</style>
<script src="http://www.google.com/jsapi"></script> 
<script type="text/javascript" src='http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/src/markerclusterer.js'>
</script>
<script type="text/javascript" charset="utf-8">
var styles = [{
  url: 'http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclusterer/1.0/images/people35.png',
  height: 35,
  width: 35,
  opt_anchor: [16, 0],
  opt_textColor: '#ff00ff',
  opt_textSize: 10
}];
var gmaps4rails_ref_lat = <%= defined?(ref_latitude) ? ref_latitude : 'null' %>;
var gmaps4rails_ref_long = <%= defined?(ref_longitude) ? ref_longitude : 'null' %>;
var gmaps4rails_marker_picture = '<%= model.constantize.gmaps4rails_markers_pic["picture"] %>';
var gmaps4rails_marker_width = <%= model.constantize.gmaps4rails_markers_pic["width"] %>;
var gmaps4rails_marker_length = <%= model.constantize.gmaps4rails_markers_pic["length"] %>;
var gmaps4rails_model = '<%= model %>';
var gmaps4rails_map_center_lat = <%= model.constantize.gmaps4rails_map_options["latitude"] %>;
var gmaps4rails_map_center_long = <%= model.constantize.gmaps4rails_map_options["longitude"] %>;
var gmaps4rails_map_zoom = <%= model.constantize.gmaps4rails_map_options["zoom"] %>;
var gmaps4rails_base_url = '<%= url_for gmaps_path%>';
</script>

<script src="/javascripts/gmaps4rails.js" type="text/javascript"></script>    
<% end %>
    <div id="map-container"> 
      <div id="gmaps4rails_map"></div> 
    </div> 
<% if defined?(ref_longitude) && defined?(ref_latitude)%>
    <div id="inline-actions">
			<input id="gmaps4rails_user_distance" >
			<input type="submit" value="Filter" class="item" onclick="filter_distance()">
    </div> 
<% end %>